<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <NG_RestartNote>IMPORTANT NOTE: Changing these settings will not take place immediately. The settings are applied when a new game is started or a game is loaded.</NG_RestartNote>
  <NG_SettingsCategoryLabel>Names Galore</NG_SettingsCategoryLabel>
  <NG_EnableInternationalLabel>International names</NG_EnableInternationalLabel>
  <NG_InternationalNote>NOTE: "International names" sets this mod to mix up names from all languages and not just your language.</NG_InternationalNote>
  <NG_NicknameProbability>Probability of a nickname</NG_NicknameProbability>
  <NG_SolidNameProbability>Probability of a solid name</NG_SolidNameProbability>
  <NG_EnableLogging>Logging</NG_EnableLogging>

</LanguageData>